doctype html

// Layout jade file for consistent elements across all pages
html
  head
    meta(charset='utf-8')
    meta(name='description', content= #{description})
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='http://localhost:3000/css/style.css')
    link(rel='icon', type='image/png', href='http://localhost:3000/img/html5.png')
    link(rel='preconnect', href='https://fonts.gstatic.com')
    link(href='https://fonts.googleapis.com/css2?family=Roboto&display=swap', rel='stylesheet')
    block scripts
      script(src='http://localhost:3000/js/script.js')
    title #{title}
  body#body
  main#grid
    header
      - for (let i = 0; i < msgs.length; i++){
        if msgs[i][0] == 'ok'
          article.message.message--ok #{msgs[i][1]}
        else if msgs[i][0] == 'warning'
          article.message.message--warning #{msgs[i][1]}
        else if msgs[i][0] == 'error'
          article.message.message--error #{msgs[i][1]}
        else
          article.message #{msgs[i][1]}
      - }

    nav#nav
      a(href='http://localhost:3000/') Home
      a(href='http://localhost:3000/history') History
      a(href='http://localhost:3000/features') Features
      a(href='http://localhost:3000/w3c') W3C
      a(href='http://localhost:3000/bernerslee') Berners-Lee
      a(href='http://localhost:3000/assessment') Assessment
      if user
        form#logout Welcome, 
          - var link = 'http://localhost:3000/users/'+user;
          a(href=link)  #{user}
      else
        form#login

    block content
    
    footer#footer
      a(href='https://www.uu.nl/', target='blank')
        img.footer__logo(src='http://localhost:3000/img/uu.png', alt='The Utrecht University logo. Click to go to the Utrecht University website.')
      table.footer__credit-table.footer__credit-table--focussed
        thead
          tr
            th
              a(href='https://www.uu.nl/', target='blank')  Utrecht University
        tbody
          tr
            td Dani&euml;l Salomons
            td 6508383
          tr
            td Ravan Strijker                
            td 7257642   
          tr
            td Pim Versteeg                
            td 3804488
      p All content courtesy of 
        a(href='https://en.wikipedia.org/', target='_blank') Wikipedia.