extends ../layout

block content
  section#main-section
    if profile.exists
      article#profile
        h1 Profile of #{profile.name}
        if !profile.bio
          p This is #{profile.name}'s profile!
        else
          p #{profile.bio}
        if user == profile.name
          form#editbio
      aside#completion
          h3 Report and completion
          - var percentile = Math.trunc((profile.completed / total) * 100);
              p #{profile.name} has completed #{profile.completed} out of #{total} questions, or a completion rate of #{percentile}%!
              if user == profile.name
                p This session, you have completed #{profile.session} questions!
    else
      article#profile
        h1 User #{profile.name} not found!
        p If this is wrong, please contact admin!